@model Product
@{
    ViewBag.Title = "Admin: Edit " + @Model.Name;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3 class="bg-primary text-light text-center p-1">Create a Product</h3>
<form asp-action="Create" method="post">
    <partial name="EditProduct" />
</form>
