<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SportsStore</title>

    <link rel="stylesheet" href="/lib/bulma/css/bulma.min.css" />
    <link rel="stylesheet" href="/lib/font-awesome/css/all.min.css" />
    <link rel="stylesheet" href="/Content/styles.css" />
</head>
<body>
    <header class="has-background-primary has-text-white p-2">
        <div class="is-flex is-justify-content-space-between">
            <span>SPORTS STORE</span>
            <vc:cart-summary />    
        </div>
    </header>
    <div class="columns m-1 p-1">
        <div id="categories" class="column is-one-third">
            <vc:navigation-menu />
        </div>
        <div class=" column">
            @RenderBody()
        </div>
    </div>
</body>
</html>
