@model Order
<h2 class="title is-1">Check out now</h2>
<p>Please enter your details, and we'll ship your goods right away!</p>

<div asp-validation-summary="All" class="p-3 has-text-danger-dark"></div>

<form asp-action="Checkout" method="post">
    <h3 class="title">Ship to</h3>
    <div class="field">
        <label>Name:</label>
        <div class="control">
            <input asp-for="Name" class="input" />
        </div>
    </div>
    <h3>Address</h3>
    <div class="field">
        <label>Line 1:</label>
        <div class="control">
            <input asp-for="Line1" class="input" />
        </div>
    </div>
    <div class="field">
        <label>Line 2:</label>
        <div class="control">
            <input asp-for="Line2" class="input" />
        </div>
    </div>
    <div class="field">
        <label>Line 3:</label>
        <div class="control">
            <input asp-for="Line3" class="input" />
        </div>
    </div>
    <div class="field">
        <label>City:</label>
        <div class="control">
            <input asp-for="City" class="input" />
        </div>
    </div>
    <div class="field">
        <label>State:</label>
        <div class="control">
            <input asp-for="State" class="input" />
        </div>
    </div>
    <div class="field">
        <label>Zip:</label>
        <div class="control">
            <input asp-for="Zip" class="input" />
        </div>
    </div>
    <div class="field">
        <label>Country:</label>
        <div class="control">
            <input asp-for="Country" class="input" />
        </div>
    </div>
    <h3 class="title">Options</h3>

    <label class="checkbox">
        <input asp-for="GiftWrap" /> Gift wrap these items
    </label>
    <div class="has-text-centered">
        <input class="button is-primary" type="submit" value="Complete Order" />
    </div>
</form>