@page

<div class="has-text-centered">
    <h2 class="title is-1">Thanks!</h2>
    <p>Thanks for placing order #@OrderId</p>
    <p>We'll ship your goods as soon as possible.</p>
    <a class="button is-primary" asp-controller="Home">Return to Store</a>
</div>

@functions{
    [BindProperty(SupportsGet = true)]
    public string OrderId { get; set; }
}