<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SportsStore</title>

    <link rel="stylesheet" href="/lib/bulma/css/bulma.min.css" />
    <link rel="stylesheet" href="/lib/font-awesome/css/all.min.css" />
    <link rel="stylesheet" href="/Content/styles.css" />
</head>
<body>
    <header class="has-background-primary has-text-white p-2">
        <span>SPORTS STORE</span>
    </header>
    <div class="container">
        @RenderBody()
    </div>
</body>
</html>
