@model IEnumerable<string>
<nav class="">
    <ul class="menu-list">
        <li>
            <a class="nav-link border mt-1" asp-action="Index" asp-route-category="" asp-controller="Home" asp-route-productPage="1">
                Home
            </a>
        </li>


        @foreach (string category in Model)
        {
            <li>
                <a class="@(category == ViewBag.SelectedCategory ? "is-active" : "") border mt-1"
                   asp-controller="Home"
                   asp-action="Index"
                   asp-route-category="@category"
                   asp-route-productPage="1">
                    @category
                </a>
            </li>
        }
    </ul>
</nav>