@model IEnumerable<SportsStore.Domain.Product>

@{
    ViewBag.Title = "List";
}

<div id="content">
    @foreach (var product in Model)
    {
        <div class="item">
            <h3>@product.Name</h3>
            @product.Description
            <h4>@product.Price.ToString("c")</h4>
        </div>
    }
</div>