@model SportsStore.WebUI.Models.ProductsListViewModel

@{
    ViewBag.Title = "Products";
}

<div id="content">
    @foreach (var product in Model.Products)
    {
        @Html.Partial("ProductSummary", product)
    }

    <div class="pager">
        @Html.PageLinks(Model.PagingInfo, x => Url.Action("List",
         new { page = x, category = Model.CurrentCategory }))
    </div>
</div>