@model ProductsIndexViewModel

@{
    ViewBag.Title = "Products";
}

@foreach (var product in Model.Products)
{
    <partial name="ProductSummary" model="product" />
}

<nav class="pagination is-flex is-justify-content-center mt-3">
    <div page-model="@Model.PagingInfo"
         page-action="Index"
         page-classes-enabled="true"
         page-class="pagination-link"
         page-class-normal=""
         page-class-selected="is-current"
         page-url-category="@Model.CurrentCategory"
         class="btn-group">
    </div>
</nav>



