@model SportsStore.WebUI.Models.LoginViewModel

@{
    ViewBag.Title = "Admin: Log In";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="loginContainer">
    <header>
        <h3> Log In</h3>
    </header>
    <div>
        <p>Please log in to access the administration area:</p>
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary()
            <div>
                <label>User Name:</label>
                @Html.TextBoxFor(m => m.UserName)
            </div>
            <div>
                <label>Password:</label>
                @Html.PasswordFor(m => m.Password)
            </div>
            <input type="submit" value="Log in" />
        }
    </div>
</div>

